<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CodeChat - Code & Compile</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/material-icons.min.css">
    <link rel="stylesheet" href="fonts/simple-line-icons.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">CodeChat</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler float-end" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#download">Chat Now</a></li>
                    <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url('bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 offset-sm-0 my-auto">
                    <div class="mx-auto header-content">
                        <h1 class="mb-5">We are building a community of coders who code even while chatting &lt; ; &gt;</h1><a class="btn btn-outline-warning btn-xl" role="button" href="#download">Join now for Free!</a>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device" style="background-image:url('iphone_6_plus_white_port.png');">
                                <div class="screen"><img class="img-fluid" src="illustration.gif"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iphone-mockup"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-primary download" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading">Code, Chat and Compile :)</h2>
                    <p>Our app is availible for and on every device because we are on internet&nbsp;</p><a class="btn btn-outline-warning btn-xl" role="button" href="/login">Start Chatting now</a>
                    <div class="badges"><a class="badge-link" href="#"></a><a class="badge-link" href="#"></a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
        <div class="container">
            <div class="text-center section-heading">
                <h2>Unlimited Features, Unlimited Fun</h2>
                <p class="text-muted">Check out what you can do with this app!</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device" style="background-image:url('iphone_6_plus_white_port.png');">
                                <div class="screen"><img class="img-fluid" src="demo-screen-1.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="material-icons text-primary">code</i>
                                    <h3>Code while Chatting</h3>
                                    <p class="text-muted">You Can Compile Code while Chatting and can send it too !</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="material-icons text-primary">sentiment_very_satisfied</i>
                                    <h3>Relatable UI and Icons</h3>
                                    <p class="text-muted">UI, emoticons and GIFs that will keep you here</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="material-icons text-primary">devices</i>
                                    <h3>Any Device&nbsp;</h3>
                                    <p class="text-muted">Small or big, android or Iphone we never stops</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">We are free to use for any purpose!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta" style="background-image:url('bg-cta.jpg');">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start coding!<br></h2><a class="btn btn-outline-warning btn-xl" role="button" href="#contact">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section class="bg-primary contact" id="contact">
        <div class="container">
            <h2><span>We&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;new friends!</span></h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item social-facebook"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="list-inline-item social-google-plus"><a href="#" style="background: #e01fcd;"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>© CodeChat 2021. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>
    <script src="js/bootstrap.min.js"></script>
    <script src="new-age.js"></script>
</body>

</html>
