<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Create or Join Room</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="CodeChatHome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="Login-Form-Dark.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="d-flex flex-row flex-grow-1 login-dark" style="transform: perspective(0px) translate(0px) scale(1);transform-style: preserve-3d;transform-origin: 0 500px;height: 720px;background: var(--bs-gray-300);">
        <form method="post" action="/loginPost" style="box-shadow: 10px 3px 14px 0px rgba(4,1,1,0.29);">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="justify-content-between align-content-around illustration"><i class="icon ion-chatboxes flex-fill justify-content-end flex-nowrap"></i></div>
            <div class="mb-3"><input class="form-control" type="email" name="teamName" placeholder="Team Name"></div>
            <div class="mb-3"><input class="form-control" type="password" name="userName" placeholder="Display Name"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" data-bss-hover-animate="swing" type="submit">Let's Go</button></div><a class="forgot" href="#">Have any questions or suggestions?</a>
        </form>
    </section>
    <script src="js/bootstrap.min.js"></script>
    <script src="bs-init.js"></script>
</body>

</html>